<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>forge-test</title>
  <style>
    #app {
      padding-bottom: 200px;
    }

    #keys-container,
    #crypt-container {
      display: flex;
    }

    .keys-buttons {
      width: 100px;
      text-align: center;
    }

    .keys-buttons button {
      width: 80%;
      margin-bottom: 10px;
    }

    textarea {
      flex: 1;
    }
  </style>
</head>

<body>
  <div id="app">
    <div id="keys-container">
      <textarea v-model="publicKeyString" rows="20"></textarea>
      <div class="keys-buttons">
        <button @click="generateKeyPair">生成密钥</button>
        <div>耗时：{{ timeCost }} ms</div>
      </div>
      <textarea v-model="privateKeyString" rows="20"></textarea>
    </div>

    <div id="crypt-container">
      <textarea v-model="rawData" rows="10"></textarea>
      <div class="keys-buttons">
        <button @click="encrypt">加密</button>
        <button @click="decrypt">解密</button>
        <div>耗时：{{ timeCost2 }} ms</div>
      </div>
      <textarea v-model="encryptedData" rows="10"></textarea>
    </div>

    <div>
      <!-- <h4>加密: 字符转义（可能包含中文等） =>>> {{ cryptoAlgorithm }} 算法加密 =>>> 加密结果 Base64</h4>
      <h4>解密: 解 Base64 =>>> {{ cryptoAlgorithm }} 算法解密 =>>> 字符解转义（可能包含中文等）</h4> -->
      <h4>生成密钥：<br>
        算法: PRIMEINC <br>
        位数: 2048位 <br>
        优先调用浏览器 native standard 方法 (部分浏览器支持，需要 https)<br>
        如 native standard 调用失败，使用 pure JavaScript 方法，使用 webworker 生成素数，会使用 workerScript: './prime.worker.min.js'
        所有，prime.worker.min.js 必须加入文件中
      </h4>
    </div>

    <h2>性能测试</h2>
    <div>
      <button @click="generateKeyPairTest">生成密钥测试</button>
      <input type="text" v-model="generateTestTimes">次
      <div>成功次数：{{ generateperformance.successTimes}}</div>
      <div>min: {{generateperformance.min}}ms</div>
      <div>max: {{generateperformance.max}}ms</div>
      <div>average: {{generateperformance.average}}ms</div>
    </div>

    <h1>加解密接口联调测试</h1>
    <h2>加密测试</h2>
    <button @click="axiosGetPublicKey">获取公钥</button><br>
    <textarea v-model="axiosPublicKey" rows="10" style="width: 300px;"></textarea><br>
    <button @click="axiosEncrypt">公钥加密提交</button><br>
    证件<input v-model="cardNo" style="width: 300px;"><br>
    地址<input v-model="address" style="width: 300px;"><br>
    <h2>接口返回</h2>
    <div>证件：{{ testDecryptResult.cardNo }}</div>
    <div>地址：{{ testDecryptResult.address }}</div>

    <h2>解密测试</h2>
    <button @click="axiosDecrypt">解密测试</button><br>
    证件2<input v-model="cardNo2" style="width: 300px;"><br>
    地址2<input v-model="address2" style="width: 300px;"><br>
    前端生成密钥<br>
    <textarea v-model="decryptPublicKeyString" rows="20"></textarea>
    <textarea v-model="decryptPrivateKeyString" rows="20"></textarea><br>
    接口返回解密<br>
    <div>证件：{{ axiosDecryptResult.cardNoDecrypt }}</div>
    <div>地址：{{ axiosDecryptResult.addressDecrypt }}</div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>

  <script src="./rsaCrypt.min.js"></script>
  <script src="./keygen.min.js"></script>
  
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
  <script>eruda.init();</script> -->

  <script>
    const App = {
      data() {
        return {
          keypair: null,
          publicKeyString: '',
          privateKeyString: '',
          timeCost: '',


          rawData: '',
          encryptedData: '',
          timeCost2: '',

          // 'RAW'
          // 'RSA-OAEP'
          // 'RSAES-PKCS1-V1_5'
          cryptoAlgorithm: 'RSAES-PKCS1-V1_5',

          generateTestTimes: 100,
          generateperformance: {},

          axiosPublicKey: '',
          cardNo: '',
          address: '',
          testDecryptResult: {},

          decryptPublicKeyString: '',
          decryptPrivateKeyString: '',
          cardNo2: '',
          address2: '',
          axiosDecryptResult: {}
        }
      },
      methods: {
        async generateKeyPair() {
          let time0 = new Date().valueOf()

          var rsaCoder = new JSEncrypt()

          let keypair = await rsaCoder.generateKeyPair()
          this.publicKeyString = keypair.publicKeyString
          this.privateKeyString = keypair.privateKeyString
          this.timeCost = new Date().valueOf() - time0
        },

        encrypt() {
          if (!this.rawData || !this.publicKeyString) {
            return
          }
          let time0 = new Date().valueOf()

          var rsaCoder = new JSEncrypt()

          let encrypted = rsaCoder.rsaEncrypt(this.rawData, this.publicKeyString)
          this.timeCost2 = new Date().valueOf() - time0
          this.encryptedData = encrypted
        },

        decrypt() {
          if (!this.encryptedData || !this.privateKeyString) {
            return
          }
          let time0 = new Date().valueOf()
          var rsaCoder = new JSEncrypt()
          let decrypted = rsaCoder.rsaDecrypt(this.encryptedData, this.privateKeyString)
          this.timeCost2 = new Date().valueOf() - time0
          this.rawData = decrypted
        },

        async generateKeyPairTest() {
          var rsaCoder = new JSEncrypt()
          let min = 0
          max = 0
          times = 0
          amountTime = 0
          successTimes = 0
          average = 0

          for (let i = 0; i < this.generateTestTimes; ++i) {
            let time0 = new Date().valueOf()
            times++
            try {
              let keypair = await rsaCoder.generateKeyPair()
              successTimes++
              let timeCost = new Date().valueOf() - time0
              if (i == 0) {
                min = timeCost
                max = timeCost
                amountTime = timeCost
              }
              if (timeCost < min) {
                min = timeCost
              }
              if (timeCost > max) {
                max = timeCost
              }
              amountTime += timeCost

              this.generateperformance = {
                min,
                max,
                successTimes,
                average: amountTime / successTimes
              }

            } catch (error) {
              console.log('generate error');
            }
          }


        },

        axiosGetPublicKey() {
          axios.post('...', {

          })
            .then(function (response) {
              console.log(response);
              vueThis.axiosPublicKey = response.data.data
            })
            .catch(function (error) {
              console.log(error);
            });
        },

        axiosEncrypt() {
          if (!this.cardNo || !this.address) {
            return
          }
          var rsaCoder = new JSEncrypt()
          axios.post('...', {
            cardNo: rsaCoder.rsaEncrypt(this.cardNo, this.axiosPublicKey),
            address: rsaCoder.rsaEncrypt(this.address, this.axiosPublicKey)
          })
            .then(function (response) {
              console.log(response);
              vueThis.testDecryptResult = response.data.data
            })
            .catch(function (error) {
              console.log(error);
            });

        },

        async axiosDecrypt() {
          if(!this.cardNo2 || !this.address2) {
            return
          }
          var rsaCoder = new JSEncrypt()
          let keypair = await rsaCoder.generateKeyPair()
          this.decryptPublicKeyString = keypair.publicKeyString
          this.decryptPrivateKeyString = keypair.privateKeyString

          axios.post('...', {
            cardNo: this.cardNo2, 
            address: this.address2, 
            publicKey: this.decryptPublicKeyString
          })
            .then(function (response) {
              console.log(response);
              vueThis.axiosDecryptResult = response.data.data
              vueThis.axiosDecryptResult.cardNoDecrypt = rsaCoder.rsaDecrypt(vueThis.axiosDecryptResult.cardNo, vueThis.decryptPrivateKeyString)
              vueThis.axiosDecryptResult.addressDecrypt = rsaCoder.rsaDecrypt(vueThis.axiosDecryptResult.address, vueThis.decryptPrivateKeyString)
            })
            .catch(function (error) {
              console.log(error);
            });
        }
      }
      ,
      created() {
        window.vueThis = this
      }
    }
    Vue.createApp(App).mount('#app')
  </script>
</body>

</html>